@model Aplikacja_SQL.Models.TEST

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h2 class="Title">Edytuj Test ;)</h2>


   

    <div class="form-horizontal">

        <hr />


        @using (Html.BeginForm())
        {

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.ID_TEST)
            @Html.HiddenFor(model => model.ID_UZYTKOWNIKA)
            @Html.HiddenFor(model => model.KLUCZ)


            @Html.AntiForgeryToken()
            <div id="Bodycontener1">
                <div class="form-group">
                    <div class="col-md-10" style="position:relative;left:195px;">
                        @Html.EditorFor(model => model.NAZWA, new { htmlAttributes = new { @class = "form-control", placeholder = "Nazwa Testu" } })
                        @Html.ValidationMessageFor(model => model.NAZWA, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10" style="position:relative;left:195px;">
                        @Html.DropDownList("ID_BAZA", null, htmlAttributes: new { @class = "form-control", placeholder = "Wybierz Baze" })
                        @Html.ValidationMessageFor(model => model.ID_BAZA, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-md-10" style="position:relative;left:195px;">
                        @Html.EditorFor(model => model.CZAS_START, new { htmlAttributes = new { @class = "form-control datetimepicker", placeholder = "Początek" } })
                        @Html.ValidationMessageFor(model => model.CZAS_START, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10" style="position:relative;left:195px;">
                        @Html.EditorFor(model => model.CZAS_STOP, new { htmlAttributes = new { @class = "form-control datetimepicker", placeholder = "Koniec" } })
                        @Html.ValidationMessageFor(model => model.CZAS_STOP, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="col-md-offset-2 col-md-10" style="position:relative; left:195px;  ">
                    <input type="submit" value="Zapisz!" class="btn btn-default" style="background-color:#00f530; width:150px;position:relative; height:50px; font-size:25px;  " />
                </div>

            </div>
        }
        <div id="LineAddData" style="left:180px; height:260px; "> </div>
       
            <div id="Bodycontener2">
                <div style="width:500px; padding:5px; background-color:white; left:140px; position:relative; border-radius:10px; float:left; ">
                    <table id="dataTable" class="table" border="0" cellpadding="0" cellspacing="0" style="">
                        <tr>
                            <th>Pytania :D</th>

                        </tr>
                        @foreach (var i in ViewBag.Pytania)
                        {

                            <tr>
                                <td>
                                    <span> @i.PYTANIE1 </span>

                                </td>
                            </tr>
                        }





                    </table>
                    @using (Html.BeginForm("EditP","EditTest",FormMethod.Get))
                    {
                        @Html.AntiForgeryToken()
                        <div class="col-md-offset-2 col-md-10" style="position:relative; left:-90px ">
                            <button class="btn" style="background-color:#00f530; width:120px;position:relative; height:40px; font-size:15px;  "><i class="icon-pencil" style="font-size:15px !important"></i>Edytuj</button>
                        </div>
                    }
                </div>
            </div>


        

    </div>

    <div style="clear:both"></div>



